{% extends 'publications/base.html' %}

{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                <div class="card">
                     <div class="card-header">
                        Информация о публикации
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="/media/{{ object.photo }}" class="img-fluid" alt="Адаптивное изображение">
                                </div>
                            </div>
                        </div>
                        <tr>
                            <td>Тема публикации</td>
                            <td>{{ object.title}}</td>
                        </tr>
                        <tr>
                            <td>Содержимое публикации</td>
                            <td>{{ object.body }}</td>
                        </tr>
                        <tr>
                            {% if object.is_pay %}
                                <td>Платная</td>
                            {% else %}
                                <td> Бесплатная </td>
                            {% endif %}
                                <td>Создана</td>
                            <td>{{ object.pub_date }}</td>
                        </tr>
                    </table>
                    <div class="card-body">
                        {% if user.is_superuser or user == object.author %}
                            <a href="{% url 'publications:update' object.pk %}"
                            class="btn btn-sm btn-outline-secondary">Изменить</a>
                            <a href="{% url 'publications:delete' object.pk %}" type="button"
                            class="btn btn-sm btn-danger">Удалить</a>
                        {% elif user.is_staff %}

                        {% endif %}
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">

                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
{% endblock %}
