{% extends 'publications/base.html'%}

{% block content %}
    <body>
        <div class="container">
            <h2>Пожалуйста, введите данные:</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Отправить</button>
                {% if butt_add %}
                    <a href="{% url 'users:resending_token' %}" class="btn btn-warning"> Получить новый токен</a>
                {% endif %}
            </form>
        </div>
    </body>

{% endblock %}